@model prog_avanzada_2_tp_integrador.Models.ViewModels.CarListView
@{
    ViewData["Title"] = "PAII - Grupo 5";
}

<div class="text-center">
    <div"card-header">
        <h5>Listado de autos que se encuentra actualmente en stock</h5>
    </div>
    <div class="card-body">
    <a class="btn btn-success btn-sm" asp-action="CreateAndEdit" asp-controller="Home" asp-route-carId="">Crear Nueva Entrada</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Color</th>
                    <th>Transmision</th>
                    <th>Motor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.cars)
                {
                    @if (item != null)
                    {
                        
                        <tr>
                            <td>@Model.brands.Find((brand) => brand.Id.ToString() == item.IdCarBrand.ToString()).Name</td>
                            <td>@item.Model</td>
                            <td>@item.Year</td>
                            <td>@item.Color</td>
                            <td>@item.Transmission</td>
                            <td>@item.Engine</td>
                            <td>
                            <a class="btn btn-primary btn-sm " asp-action="CreateAndEdit" asp-controller="Home" asp-route-carId=@item.Id.ToString()> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="Delete" asp-controller="Home" asp-route-carId="@item.Id.ToString()"> Eliminar</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
